# Maven
target/
*.releaseBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath
.springBeans
.recommenders/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Dev databases / containers
postgres_data/
